 
@font-face {
  font-family: 'Nova Flat';
  src: url('fonts/NovaFlat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'MyFont';
  src: url('fonts/freagn__.ttf') format('truetype');
}

.classStyle{
	text-align:center;
	padding:30;
	margin:30;
	font-size:20;
	background-color:#ccff66;
}

.classTitle
{
	color:#aa2400;
	font-size:25;
	font-weight:bold;
}

.classButton{
	background-color:#ff972a;
	color:white;
	height:30;
	width:100;
	border:none;

}
label
{
	font-family: 'MyFont', Go Bananas;
}
